.countlist{
    width: 600px;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;

    
}
h2{
    width: 100px;
    height: 100px;
    background-color: blue;
    padding: 15px 25px;
    color: black;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}